<?xml version="1.0"?>

<robot name="manipulator" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="manipulator" params="namespace parent gazebo *origin">

    <xacro:include filename="$(find ardupilot_gazebo)/models/manipulator/urdf/manipulator_asap_base.urdf.xacro" />

    <xacro:manipulator_test
      parent="${parent}">
      <xacro:insert_block name="origin" />
    </xacro:manipulator_test>
     
    <!-- Joint transmissions -->  
    <xacro:joint_position_transmission
        trans_number="1"
        joint_name="joint1">
    </xacro:joint_position_transmission>
    
    <xacro:joint_position_transmission
        trans_number="2"
        joint_name="joint2">
    </xacro:joint_position_transmission>

    <xacro:joint_position_transmission
        trans_number="3"
        joint_name="joint3">
    </xacro:joint_position_transmission>

    <xacro:joint_position_transmission
        trans_number="4"
        joint_name="joint4">
    </xacro:joint_position_transmission>

    <xacro:if value="${gazebo}">
      <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/$(arg namespace)/manipulator</robotNamespace>
        </plugin>
      </gazebo>
    </xacro:if>

  </xacro:macro>

  

</robot>